@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* ------------------
    Common CSS
--------------------*/

body {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 96%;
}

img {
    max-width: 100%;
    height: auto;
}

.aligenleft {
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 15px;
}

/* .aligenright{
    float:right;
    margin-left: 15px;
    margin-bottom: 15px;
}
.aligencenter{
    float:block;
    margin:0 auto 15px;
    margin-bottom: 15px;
} */
/* ------------------
    Top Header CSS
--------------------*/
.header-area {
    width: 100%;
    clear: both;
}

#top-header-area {
    background: #ba2e1f;
    padding: 15px 0;
    width: 100%;
}

.inner-top-header {
    overflow: hidden;
}

.mini-menu {
    padding-top: 5px;
    float: left;
    width: 70%;
}

.mini-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.mini-menu ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

.mini-menu ul li::after {
    background: #fff;
    content: "";
    position: absolute;
    top: 6px;
    right: -10px;
    height: 12px;
    width: 1px;
}

.mini-menu ul li:last-child:after {
    display: none;
}

.mini-menu ul li a {
    color: #ffffff;
    display: block;
    font-size: 14px;
    text-decoration: none;
}

.mini-menu ul li a:hover {
    color: #ddd;
}

.search-area {
    float: right;
    width: 30%;
}

.search-area from {
    background: #fff;
    border-radius: 25px;
    float: right;
    padding: 2%;
    max-width: 210px;
    width: 96%;
}

.search-area input {
    border: 0px solid;
    width: 75%;
    padding: 1%;
    float: left;
    color: #000;
}

.search-area input[type="submit"] {
    background: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 20%;
    cursor: pointer;
}

/* ---------------------
    Main Header CSS
----------------------*/
#main-header-area {
    width: 100%;
    clear: both;
}

.inner-header {
    padding: 40px 0;
    overflow: hidden;
}

.logo-area {
    float: left;
    width: 240px;
}

.social-area {
    padding-top: 20px;
    float: right;
    max-width: 600px;
    width: 100%;
}

.social-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.social-area ul li {
    display: inline-block;
    margin-left: 15px;
}

.social-area ul li a {
    display: block;
    text-decoration: none;
}

.social-area ul li a i {
    background: #333333;
    border-radius: 50%;
    display: block;
    text-decoration: none;
    width: 35px;
    padding-top: 8px;
    color: #fff;
    height: 25px;
    text-align: center;
    transition: 0.5s;
}

.social-area ul li a:hover i {
    background: #ee802f;
}

.social-area ul li a:hover i.fa-linkedin-in {
    background: #0174B0;
}

.social-area ul li a:hover i.fa-twitter {
    background: #41B7E5;
}

.social-area ul li a:hover i.fa-pinterest {
    background: #D64134;
}

.social-area ul li a:hover i.fa-google-plus-g {
    background: #DE2A32;
}

.social-area ul li a:hover i.fa-rss {
    background: #ee802f;
}

/* --------------------
    Main Menu CSS
----------------------*/
#main-menu {
    width: 100%;
    clear: both;
}

.inner-menu {
    background: #333333;
    position: relative;
    min-height: 30px;
    padding: 15px 0;
    border-radius: 5px;
    z-index: 1;
}

.inner-menu:after {
    background: #2b2b2b;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    content: "";
    z-index: -1;
    border-radius: 5px;
}

#main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#main-menu ul li {
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

#main-menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
}

#main-menu ul li a:hover {
    color: #ba2e1f;
}

#main-menu ul li:hover a {
    color: #ba2e1f;
}

#main-menu ul li:hover ul li a {
    color: #fff;
}

/* Dopdown Style */
#main-menu ul ul {
    position: absolute;
    background: #ba2e1f;
    width: 180px;
    left: -9999999px;
    top: 33px;
    color: #fff;
}

#main-menu ul li:hover ul {
    left: 0px;
}

#main-menu ul li:hover ul ul {
    left: -99999999px;
}

#main-menu ul ul ul {
    left: -9999999px;
    top: 0px;
    color: #fff;
}

#main-menu ul li ul li:hover ul {
    left: 180px;
}

#main-menu ul ul li {
    margin: 0;
    display: block;
}

#main-menu ul ul li a:hover {
    background: #333333;
    color: #fff;
}

#main-menu ul ul li:hover a {
    background: #333333;
    color: #fff;
}

#main-menu ul ul li:hover ul li a {
    background: none;
    color: #fff;
}

#main-menu ul ul li ul li a:hover {
    background: #333333;
    color: #fff;
}

/* -----------------
    Slider CSS
-------------------*/
#slider-area {
    margin-top: 20px;
}

.item {
    position: relative;
}

.slider-caption {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-caption h1 {
    color: #fff;
    font-size: 35px;
}

/* --------------------
    Hero Area
----------------------*/
#hero-area {
    background: #fff;
    margin: 0;
    padding: 0;
}

.inner-hero {
    overflow: hidden;
}

.inner-hero h2 {
    color: #000000;
    font-size: 86px;
    line-height: 1.3em;
    font-weight: 600;
    font-family: auto;
    margin-bottom: 0;
}

.inner-hero p {
    color: #666666;
    font-size: 16px;
    font-weight: normal;
}

.inner-hero a {
    float: right;
    color: #493636;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.inner-hero a:hover {
    color: #e48b82;
}

/* ---------------------
          Work CSS
-----------------------*/

#work-area {
    background: #f2f2f2;
    padding: 45px 0;
}

.inner-work {
    overflow: hidden;
}

.child-work {
    width: 32%;
    float: left;
    margin: 0 1% 10px;
}

.child-work h2 {
    color: #333333;
    font-size: 26px;
    font-weight: normal;
}

.child-work p {
    color: #878787;
    font-size: 14px;
    font-weight: normal;
}

.child-work a {
    color: #b92d1f;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    clear: both;
    float: right;
    display: inline-block;
}

.child-work a:hover {
    color: #262626;
}

.about-area {
    margin-left: 0;
}

.about-area img {
    border: 1px solid #dfdfdf;
    padding: 5px;
    display: block;
    margin-bottom: 15px;
}

.child-service {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.child-service .service-image {
    width: 25%;
    float: left;
}

.child-service .service-text {
    width: 75%;
    float: right;
}

.child-service .service-text h3 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 5px;
}

.child-service .service-text p {
    font-size: 13px;
    margin-top: 0;
    line-height: 1.4em;
}

.testmonial-area {
    margin-right: 0;
}

.child-textmonial {
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
}

.child-textmonial h3 {
    background-image: url(../img/comment.png);
    background-repeat: no-repeat;
    color: #989898;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0px 15px 65px;
}

.child-textmonial h3 span {
    font-weight: normal;
}

/* --------------------
    Footer Area CSS
----------------------*/
#footer-area {
    background: #fff;
    padding: 45px 0;
}

.inner-footer {
    overflow: hidden;
}

.child-footer {
    padding: 1%;
    margin: 0 1% 10px;
    width: 21%;
    float: left;
}

.child-footer h3 {
    border-top: 1px solid #666666;
    color: #666666;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 5px;
}

.child-footer h4 {
    color: #666666;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}

.child-footer h4 a {
    color: #666666;
    float: none;
    text-decoration: none;
}

.child-footer h4 a:hover {
    color: #b92d1f;
}

.child-footer h6 {
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.3em;
}

.child-footer p {
    color: #666666;
    font-size: 14px;
    margin-top: 0;
}

.child-footer p a {
    color: #b92d1f;
    text-decoration: none;

}

.child-blog {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.child-blog a {
    color: #b92d1f;
    float: right;
    text-decoration: none;
    font-size: 14px;
}

.child-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.child-footer ul ul {
    display: none;
}

.child-footer li {
    background: url(../img/icon.png) no-repeat center left;
    display: block;
    border-bottom: 1px solid #666666;
    padding-left: 18px;
    padding-bottom: 8px;
}

.child-footer li:last-child {
    border-bottom: 0px solid;
}

.child-footer li a {
    color: #666666;
    font-size: 14px;
    text-decoration: none;
}

.child-footer li a:hover {
    color: #ba2e1f;
}

.child-footer input {
    background: #f2f2f2;
    border: 0px solid;
    border-radius: 5px;
    padding: 10px 2%;
    margin-bottom: 10px;
    width: 96%;
}

.child-footer textarea {
    background: #f2f2f2;
    border: 0px solid;
    border-radius: 5px;
    padding: 10px 5%;
    margin-bottom: 10px;
    width: 96%;
}

.child-footer input[type='submit'] {
    width: 80px;
    color: #b92d1f;
    cursor: pointer;
}

.child-footer input[type="submit"]:hover {
    background: #b92d1f;
    color: #fff;
}

/* ----------------------
    Copyright Area CSS
-----------------------*/
#copyright-area {
    background: #f2f2f2;
    padding: 20px;
}

.inner-copyright {
    overflow: hidden;
}

.inner-copyright p {
    margin: 0;
    color: #919191;
    font-size: 12px;
}

.left-copyright {
    float: left;
    width: 60%;
}

.left-copyright {
    float: right;
    text-align: right;
    width: 40%;
}